<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>Trade profile</TITLE>
    </HEAD>
    <BODY>
        <H1>Trade profile</H1>
	<div class="container">
		<ul>
			<h3>Id</h3>
			<p>{{trade.trade_id}}</p><hr>
			<h3>Trade</h3>
			<p>{{trade.trade}}</p><hr>
			<h3>Company</h3>
			<p>{{trade.company}}</p><hr>
			<h3>Ticker</h3>
			<p>{{trade.ticker}}</p><hr>
			<h3>Quantity</h3>
			<p>{{trade.quantity}}</p><hr>
			<h3>Price</h3>
			<p>{{trade.price}}</p><hr>
			<h3>Trade day</h3>
			<p>{{trade.trade_date}}</p><hr>
		</ul>
	      </div>
    </BODY>
</HTML>
