<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>Stock trading log!</TITLE>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <style type="text/css">
          .container {
            max-width: 500px;
            padding-top: 100px;
          }
        </style>
    </HEAD>
    <BODY>
	<H1>Welcome to the stock trading log!</H1>
        <H2>This API is a great stock trading journal for traders and investors.</H2>
	<H2>It keeps track of your trade history.</H2>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    </BODY>
</HTML>
